<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scene</key>
	<array>
		<dict>
			<key>bg</key>
			<string>genkan.png</string>
			<key>text</key>
			<string>私は遊ぶ事が何よりも好きなので、家で仕事をしていながらも、友あり遠方より来るのをいつもひそかに心待ちにしている状態で、
玄関が、がらっとあくと眉をひそめ、口をゆがめて、けれども実は胸をおどらせ、書きかけの原稿用紙をさっそく取りかたづけて、その客を迎える。</string>
		</dict>
		<dict>
			<key>text</key>
			<string>「あ、これは、お仕事中ですね。」
「いや、なに」
そうしてその客と一緒に遊びに出る。</string>
			<key>se</key>
			<string>genkan.aif</string>
		</dict>
		<dict>
			<key>bg</key>
			<string>syoseki.png</string>
			<key>text</key>
			<string>けれども、それではいつまでも何も仕事が出来ないので、某所に秘密の仕事部屋を設ける事にしたのである。
それはどこにあるのか、家の者にも知らせていない。
毎朝、九時頃ごろ、私は家の者に弁当を作らせ、それを持ってその仕事部屋に出勤する。
さすがにその秘密の仕事部屋には訪れて来るひとも無いので、私の仕事もたいてい予定どおりに進行する。
しかし、午後の三時頃になると、疲れても来るし、ひとが恋しくもなるし、遊びたくなって、頃合いのところで仕事を切り上げ、家へ帰る。</string>
		</dict>
		<dict>
			<key>text</key>
			<string>帰る途中で、おでんやなどに引かかって、深夜の帰宅になる事もある。
仕事部屋。</string>
		</dict>
		<dict>
			<key>text</key>
			<string>しかし、その部屋は、女のひとの部屋なのである。
その若い女のひとが、朝早く日本橋の或ある銀行に出勤する。そのあとに私が行って、そうして四、五時間そこで仕事をして、女のひとが銀行から帰って来る前に退出する。
愛人とか何とか、そんなものでは無い。
私がそのひとのお母さんを知っていて、そうしてそのお母さんは、或る事情で、その娘さんとわかれわかれになって、いまは東北のほうで暮しているのである。</string>
		</dict>
		<dict>
			<key>text</key>
			<string>そうして時たま私に手紙を寄こして、その娘の縁談に就いて、私の意見を求めたりなどして、私もその候補者の青年と逢あい、あれならいいお婿むこさんでしょう、賛成です、なんてひとかどの苦労人の言いそうな事を書いて送ってやった事もあった。
しかし、いまではそのお母さんよりも、娘さんのほうが、よけいに私を信頼しているように、どうも、そうらしく私には思われて来た。</string>
		</dict>
		<dict>
			<key>text</key>
			<string>「キクちゃん。こないだ、あなたの未来の旦那だんなさんに逢ったよ。」
「そう？　どうでした？　すこうし、キザね。そうでしょう？」
「まあ、でも、あんなところさ。そりゃもう、僕ぼくにくらべたら、どんな男でも、あほらしく見えるんだからね。我慢しな。」
「そりゃ、そうね。」
娘さんは、その青年とあっさり結婚する気でいるようであった。</string>
		</dict>
	</array>
	<key>nextSceneName</key>
	<string>Scene9.plist</string>
</dict>
</plist>
